<!-- This is the fontawesome site's script link to add some icons on our page  -->
<script src="https://kit.fontawesome.com/de71e220d0.js" crossorigin="anonymous"></script>

<div id="todo">
	<div id="heading">
		<h1><i class="far fa-calendar-check"></i>TODO LIST</h1>
    </div>
            <!-- Input Form for events field -->
		<form>
                <label class="description brdr">
                    <label for="description">DESCRIPTION</label>
                        <input type="text" name="description" placeholder="What do you need to do ?" id="description" required>
                </label>
                <!-- Category Selection -->
                <div class="category brdr">
                    <label for="category">CATEGORY</label>
                        <select name="category" required>
                                <option value="">Choose a category</option>
                                <option value="Personal">Personal</option>
                                <option value="Work">Work</option>
                                <option value="School">School</option>
                                <option value="Meeting">Meeting</option>
                                <option value="Other">Other</option>
                        </select>
                    </div>
                <!-- Date Input -->
                <div class="date brdr">
                    <label for="date">DUE DATE</label>
                        <input type="date" name="date" placeholder="Enter number" id="date" required>
                </div>

                <div class=submit-button-div>
                    <!-- Submit Button -->
                    <button type="submit" class="btn submit-button" formaction="/event/create-event" formmethod="POST">
                        <i class="fas fa-plus"></i>ADD TASK</button>
                </div>
        </form>
         
             <!-- Events Section -->
            <form action='/event/delete-event' method='post'>
                    <!-- Events List -->
                    <ul class="events-list">
                        <% for(let i of event_List) {%>
                            <label class="container">
                                <h3><%=i.description%></h3>
                                <p class="date-display"><i class="far fa-calendar-alt"></i><%= i.date%></p>
                                <p class="category-tab"><%= i.category%></p>
                                <input type="checkbox" value="<%= i.id %>"  name="check">
                                <span class="checkmark"></span>
                            </label>
                        <% }%>
                    </ul>
                    <!-- Delete Button -->
                    <button type="submit" class="btn delete-button">
                        <i class="far fa-trash-alt"></i>DELETE
                    </button>
            </form>
</div>