<form action="/user/create" method="POST">
    <input type="text" name="name" id="" placeholder="Enter name" required>
    <input type="email" name="email" id="" placeholder="example@mail.com" required>
    <input type="password" name="password" id="" placeholder="Enter Password" required>
    <input type="password" name="confirm_password" id="" placeholder="Confirm Password" required>
    <input type="submit" value="Sign Up">
</form>

<p>
    <a href="/user/auth/google" target="_blank">Google Sign In/Sign Up</a>
</p>

<p>
    <a href="/user/auth/facebook" target="_blank">Facebook Sign In/Sign Up</a>
</p>