body {
  background-image: url("/images/eventbg.jpg");
  background-size: 100%;
  background-attachment: fixed;
}

/* common class for padding and bottom border */
.brdr {
  border-radius: 5px;
  padding: 15px 0px 0px 15px;
  border-bottom: 1px solid grey;
  height: 57px;
}

/* Todo Later */
/* .description:hover,.category:hover,.date:hover{
	background-color: lightgray;
}
.description input:hover,.category:hover,.date input:hover{
	background-color: lightgray;
} */
/* This is the main todo Section */
#todo {
  width: 660px;
  background-color: white;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0px 0px 12px 10px darkgray;
  border: 1px solid firebrick;
  font-weight: 900;
  letter-spacing: 0.1rem;
  /* Main heading of the todo  */
}

#todo i {
  padding-right: 10px;
}

#todo #heading {
  color: white;
  text-align: center;
  border-bottom: 1px solid grey;
  opacity: 0.8;
  background-color: red;
  border-radius: 8px;
}

#todo #heading h1 {
  margin-top: 0;
  padding-top: 10px;
  height: 30px;
}

/* Description Section */
.description {
  display: block;
  opacity: 0.8;
}

.description input {
  border: none;
  width: 99.7%;
  font-weight: 600;
  opacity: 0.7;
}

/* Category Section */
.category {
  width: 50%;
  display: inline-block;
  opacity: 0.8;
  border-right: 1px solid grey;
}

.category select {
  border: 0px solid;
  width: 100%;
  font-weight: 550;
  opacity: 0.6;
  height: 24px;
  position: relative;
  padding-left: 0;
}

/* Date Section */
.date {
  display: inline-block;
  position: absolute;
  opacity: 0.8;
  width: 300px;
}

.date input {
  font-weight: 900;
  opacity: 0.7;
  border: 0px solid;
  display: block;
  position: relative;
  padding-left: 0px;
  height: 20px;
}

/* Add and Delete Button Section */
.submit-button-div {
  padding: 20px;
  border-bottom: 1px solid grey;
}

.btn {
  padding: 10px;
  cursor: pointer;
  border: none;
  color: white;
  font-size: 1rem;
  width: 130px;
  border-radius: 5px;
}

.submit-button {
  position: relative;
  background-color: green;
  left: 23%;
}

.submit-button:hover {
  background-color: darkgreen;
}

.delete-button {
  position: absolute;
  background-color: orangered;
  top: 315px;
  left: 50%;
}

.delete-button:hover {
  background-color: red;
}

/* Events section */
.events-list {
  overflow-y: scroll;
  padding: 0px 20px 15px 15px;
  margin-top: 0px;
  max-height: 304px;
}

.events-list .date-display {
  display: inline-block;
  position: absolute;
  width: 130px;
  top: 35px;
  opacity: 0.7;
  font-weight: bold;
}

/* Css For check boxes */
/* The container */
.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  position: relative;
  padding-left: 40px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
  padding-bottom: 20px;
  border-bottom: 1px solid grey;
  /* Hide the browser's default checkbox */
}

.container .category-tab {
  position: absolute;
  left: 75%;
  padding: 10px;
  width: 90px;
  font-size: 1.3rem;
  font-weight: 100;
  text-align: center;
  border-radius: 5px;
}

.container h3 {
  opacity: 0.8;
  max-width: 350px;
  overflow: hidden;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  left: 0;
  top: 26px;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 26px;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 5px;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
