.flex {
  display: flex;
}

header {
  font-size: 1.5rem;
  width: 100%;
  font-weight: 900;
  height: 12vh;
  background: transparent;
}

header img {
  height: 70px;
  width: 80px;
}

header #logo {
  position: relative;
  left: 7%;
}

header li {
  padding-right: 10px;
  list-style-type: none;
}

header .navigation {
  position: relative;
  left: 60%;
}
