body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
}

a {
  color: #29cc94;
  transition: 0.3s;
  text-decoration: none;
}

.headerLink a:hover {
  color: white;
  background-color: #448b9c;
  transition-timing-function: ease-in-out;
  border-radius: 10px;
}
